@import './base.css';

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.login-box {
  background-color: var(--color-background-soft);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 450px; /* Increased width */
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: var(--color-heading);
  font-size: 24px;
}

.input-group {
  margin-bottom: 20px;
  position: relative; /* For positioning the eye icon */
}

.input-group label {
  display: block;
  color: var(--color-text);
  font-size: 14px;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  background-color: var(--color-background-mute);
  font-size: 14px;
  color: var(--color-text);
}

.input-group input:focus {
  border-color: var(--color-heading);
  background-color: var(--color-background-soft);
  outline: none;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: var(--vt-c-indigo);
  color: var(--vt-c-white);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: hsla(160, 100%, 37%, 0.9);
}
